{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    ["babel-plugin-root-import", { "rootPathSuffix": "resources/js", "rootPathPrefix": "@" }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": [ "istanbul" ]
    }
  }
}
