.init .navbar-brand img{
  max-height: 40px !important;
}

.navi {
  margin-top: 20px;
}

.navi ul.nav li {
  font-size: 15px;
}


/* BASIC */
/* Typography */

.text-primary {
  color: #46B7A9 !important;
}


/* PANEL */

.panel-heading {}

.panel-heading-divider {
  border-bottom: 1px solid #d9d9d9;
  margin: 0 20px 8px;
  padding-left: 0;
  padding-right: 0;
}

/* At A Glance */
.ataglance ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

.ataglance ul li {
  list-style-type: none!important;
  text-align: left;
  font-size: 16px;
  line-height: 42px;
}

.ataglance li .fa {
  margin-right: 8px;
  width: 18px;
}

.ataglance a {
  color: #46B7A9;
}

/* Today Task */
.todaytask span.label {
  width: 100px !important;
  margin-right: 20px;
}

/* Basic Info */
.basicinfo .photo {
  max-height: 200px;
}

/* Current Area Status*/
.status {
  padding: 20px 0px;
}

.status .btn-status {
  color: #58666e;
  background-color: transparent;
  border-color: #fff;
  border-bottom-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Preference */



/* TAGS */
.identifier {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #EBF8F6;
  color: #21AD9C;
  font-size: 16px;
  padding: 4px 8px;
  margin-left: 0px;
  margin-top: 1px;
}

.identifier-sm {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #EBF8F6;
  color: #21AD9C;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 0px;
  margin-top: 1px;
}

.label-area {
  background-color: #94661F;
}

.label-crop {
  background-color: #84BA4B;
}

.label-finance {
  background-color: #F1CE48;
}

.label-nutrient {
  background-color: #06BAE1;
}

.label-safety {
  background-color: #087306;
}

.label-pestcontrol {
  background-color: #CF1F0D;
}

.label-water {
  background-color: #2352D6;
}

.label-sanitation {
  background-color: #E67423;
}

.label-inventory {
  background-color: #7136A1;
}

.label-general {
  background-color: #231A35;
}

.status {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.status-normal {
  color: #58666e;
  font-weight: 500;
}

.status-urgent {
  color: #d9534f;
  font-weight: 700;
}

.taskarea {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #94661F;
  border-radius: 2px;
  color: #FFF;
  font-weight: bold;
  padding: 2px 8px;
  margin-left: 0px;
  margin-top: 1px;
}

.taskcrop {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #84BA4B;
  border-radius: 2px;
  color: #FFF;
  font-weight: bold;
  padding: 2px 8px;
  margin-left: 0px;
  margin-top: 1px;
}

.taskexpense {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #F1CE48;
  border-radius: 2px;
  color: #FFF;
  font-weight: bold;
  padding: 2px 8px;
  margin-left: 0px;
  margin-top: 1px;
}

/* AREA */

.area a {
  color: #46B7A9;
}

.area ul {
  margin-left: -40px;
}

.area li {
  list-style-type: none;
}

.area-block {
  max-height: 110px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 40px;
}

.area-block-bg {
  display: inline-block;
  width: 30%;
}

.area-block-bg img {
  width: auto;
  height: 110px;
  margin-top: -50px;
}

.area-block .description {
  display: inline-block;
  padding: 15px;
}

.area .thumb img {
  width: 100%;
  height: auto;
}

.description .name {
  overflow-wrap: break-word;
}

.description .name a {
  font-size: 22px;
  color: #46B7A9;
  font-weight: 650;
}

.area-block .type {
  line-height: 28px;
  color: #7F7E80;
}

.area-block .type span {
  margin: 0 5px;
}

.area-block .info {
  line-height: 28px;
  color: #7F7E80;
}

.area-block .info span {
  margin: 0 5px;
}

.area .photo {
  height: 160px;
}

.areatag {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #EDE0CC;
  border-radius: 2px;
  color: #94661F;
  font-size: 16px;
  padding: 2px 8px;
  margin-left: 0px;
  margin-top: 1px;
}

.areatag-sm {
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #EDE0CC;
  border-radius: 2px;
  color: #94661F;
  font-size: 11px;
  padding: 2px 5px;
  margin-left: 0px;
  margin-top: 1px;
}


/* CROPS */

.crop-action {
  padding-right: 20px;
  font-size: 14px;
}

.crop-action .fa {
  font-size: 18px;
}

.cropactivity {
}

.cropempty {
}

.cropactivity ul {
  margin-left: -20px;
}

.cropactivity li {
  list-style-type: none;
}

/* List Group */

.list-group-item {
  border: 1px solid transparent !important;
}

/* Modal*/

.modal-header {
  margin-top: 0;
  background-color: #f6f8f8;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
