.panel.panel-default
  .panel-heading
    span.h4.font-bold Create Farm
  .panel-body
    .form-group
      label(for="name") Farm Name
      input.form-control#name(type="text" placeholder="" v-model="farm.name")
    .form-group
      label(for="name") Farm Description
      textarea.form-control#description(placeholder="" rows="4" v-model="farm.description")
    .form-group
      label(for="type") Farm Type
      select.form-control#type(placeholder="" v-model="farm.type")
        option(v-for="type in types" :value="type.Code") {{ type.Name }}
    .row
      .col-xs-12
        .form-group
          label Location
          button.btn.btn-default.pull-right(@click="findMe" type="button")
            i.fa.fa-crosshairs
    .form-group
      .row
        .col-xs-6
          input.form-control(type="text" placeholder="Latitude" v-model="farm.latitude")
        .col-xs-6
          input.form-control(type="text" placeholder="Longitude" v-model="farm.longitude")
    .form-group
      .row
        .col-xs-6
          label Country
          select.form-control(v-model="farm.country_code" @change="countryChanged($event.target.value)")
            option(v-for="country in countries" :value="country.ID") {{ country.Name }}
        .col-xs-6
          label City
          select.form-control(v-model="farm.city_code")
            option(v-for="city in cities" :value="city.ID") {{ city.Name }}
    .form-group.text-center.m-t
      button.btn.btn-addon.btn-primary(type="submit")
        i.fa.fa-long-arrow-right
        | Continue
