$primary: #7136A1;
$danger: #DC3545;
$gray: #F6F8F8;
$light: #FFFFFF;

$theme-colors: (
    "primary": $primary,
    "danger": $danger,
    "gray": $gray,
    "light": $light
);

@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}