$primary: #7136A1;
$secondary: #84BA4B;
$danger: #DC3545;
$gray: #F6F8F8;
$light: #FFFFFF;
$sidebar: #513969;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "gray": $gray,
    "light": $light,
    "sidebar": $sidebar
);

@import "~bootstrap/scss/bootstrap";

a:not(.nav-link) {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

a.nav-link.active {
    font-weight: bold;
}

.show-pointer {
    cursor: pointer;
}